{% extends "user/structure.html" %}
{% block title %}
All Events
{% endblock title %}
{% block body %}

{% if user.is_authenticated %}

<div class="container-fluid d-flex pt-4" style="background-color: #f3f0f0">
  <div class="container pt-4 pb-4"style="background:#fff; width:20%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-radius: 12px; height:fit-content;">
    <h3 class="text-center">Choose Filters</h3>
    <hr >
    <form method="GET" class="form d-flex w-100">
      <input type="date" class="form-control w-100" name="date" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
    </form>
    <br>
    <form method="GET" class="form d-flex w-100">
      <input type="text" class="form-control w-100" name="location" placeholder="Location" aria-describedby="button-addon3">
      <button class="btn btn-primary" type="submit" id="button-addon3">Search</button>
    </form>
    <a class="btn btn-outline-primary mt-2 " href="/events">Clear Filters</a>
  </div>


  <div class="container w-75">
    <div class="row text-center">
      <div
        class="col-12 my-3 py-1 bg-white"
        style="
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border: 1px solid white;
          border-radius: 12px;
        "
      >
        <table
          style="
            border-radius: 15px;
            border-color: transparent;
            font-size: 15px;
            margin: auto;
            margin-bottom: auto;
          "
          class="border-0 table table-striped bg-white"
        >
        {% comment %} Workshop {% endcomment %}
          <thead>
            <tr>
              <th colspan="5">
                <div class="d-flex justify-content-center text-center">
                  <b class="text-center text-muted"> Events </b>
                </div>
              </th>
            </tr>
            <tr>
              <th scope="col"><span class="text-muted">#</span></th>
              <th scope="col"><span class="text-muted">Name</span></th>
              <th scope="col text-muted">
                Location
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pin-angle-fill text-danger"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"
                  />
                </svg>
              </th>
              <th scope="col">
                Date
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-calendar-event text-info"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"
                  />
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                  />
                </svg>
              </th>
              <th scope="col">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
          {% for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <th scope="row">{{i.eventname}}</th>
              <td>{{i.location}}</td>
              <td>{{i.date}}</td>
              <td>
                  <button class="btn btn-success p-1" type="button" data-toggle="modal" data-target="#exampleModal{{i.eventid}}">
                  View More
                  </button> 
              </td>
            </tr>

<div class="modal fade" id="exampleModal{{i.eventid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST"> {% csrf_token %}
      <div class="modal-body ">
        <div class="d-flex invisible">
          <p class="pt-2">Event #:</p>
          <input type="text" class="form-control w-25 ml-4" name="eveid" value = "{{i.eventid}}" readonly>
        </div>
          <p><b>Name : </b>{{i.eventname}}</p>
          <p><b>Purpose : </b> {{i.purpose}}</p>
          <p><b>Location : </b> {{i.location}}</p>
          <p><b>Date : </b> {{i.date}}</p>
          <p><b>Event Type : </b>  {{i.type}}</p>
          <p><b>Conducted By : </b>  {{i.username}}</p>
          
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Click to Register in this Event</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- MODAL -->

{% endfor %}


{% else %}
<script>
    window.location.href = "http://127.0.0.1:8000/signin";
    console.clear();
  </script>
{% endif %}

{% endblock body %}